body {
  padding: 60px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:lightsalmon;
}
.icecreamAttr {
  background-color:lightblue;
  width: 130px;
  }
  .icecreamAttr {
    background-color:burlywood;
    width: 120px;
   }
   h1{
    color:red;
   }
  
  