body {
  padding: 60px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:lightsalmon;
}
.icecreamAttr {
  background-color:lightcoral;
  width: 130px;
  }
  .movieAttr {
    background-color:burlywood;
    width: 130px;
   }
   h1{
    color:orange;
   }
  